:root {
  --headerBeige: #F1ECEA;
  --zPink: #FA6EE3;
  --zLightGray: #F4F6F8;
  --zGray: #78788B;
  --zWhite: #FFFFFF;
  --zBlack: #000000;
  --zButton: #242729;
  --fontLight: 'NanumSquareLight';
  --fontBasic: 'NanumSquare';
  --fontBold: 'NanumSquareBold';
  --fontExtraBold: 'NanumSquareExtraBold';
}
* {
  white-space: nowrap; 
}